In [1]:
import pandas as pd

In [2]:
jane = {
  "people" : [
    {
       "firstName": "Joe",
       "lastName": "Jackson",
       "gender": "male",
       "age": 28,
       "number": "7349282382"
    },
    {
       "firstName": "James",
       "lastName": "Smith",
       "gender": "male",
       "age": 32,
       "number": "5678568567"
    },
    {
       "firstName": "Emily",
       "lastName": "Jones",
       "gender": "female",
       "age": 24,
       "number": "456754675"
    }
  ]
}

print(jane["people"][1]["firstName"])
print(jane["people"][1]["lastName"])

print(jane["people"][1]["firstName"],jane["people"][1]["lastName"])

James
Smith
James Smith

In [4]:
df = pd.DataFrame(jane)
df

                                              people
0  {'firstName': 'Joe', 'lastName': 'Jackson', 'g...
1  {'firstName': 'James', 'lastName': 'Smith', 'g...
2  {'firstName': 'Emily', 'lastName': 'Jones', 'g...