In [95]:
import pandas as pd
import numpy as np

In [96]:
model_name = ['VGG16+Dropout','VGG16','VGG16+Batch Normalization','Xception+Dropout','Xception','AlexNet']
mean = []
max_number = [] #No. of image that has max error
max_value = []
min_number = [] #No. of image that has min error
min_value = []

In [97]:
name = ['image', 'blank1', 'state', 'blank2', 'truth_x', 'truth_y', 'blank3', 'estimate_x', 'estimate_y', 'blank4', 'error']

In [98]:
for i in range(len(model_name)):
    df = pd.read_csv('C:/Users/ployw/OneDrive/Desktop/Kyutech/Lab/Thesis/Result/Pupil detection/D2 Data set/Result Files/'+model_name[i]+'/result.csv',header = None,names = name)
    
    #Filter out state = 1(close)
    for j in range(len(df)):
        if df['state'][j] == 1:
            df.drop(j, inplace = True)
    df = df.reset_index() #Reset inde

    #Error
    mean.append(df['error'].mean())
    max_index = df['error'].argmax() #Row, new index
    max_number.append(df['index'][max_index]) #Number of image
    max_value.append(df['error'][df['error'].argmax()])
    min_index = df['error'].argmin() #Row, new index
    min_number.append(df['index'][min_index]) #Number of image
    min_value.append(df['error'][df['error'].argmin()])

In [99]:
print(mean)
print(max_value)
print(max_number)
print(min_value)
print(min_number)

[1.222672153584583, 1.6676321208913223, 1.5579358167958959, 1.2753542995250002, 2.498484057889773, 3.4439275529178426]
[18.078463636633163, 20.432308958562587, 33.1333337028739, 20.379880584568134, 21.21115874142653, 30.886000170393803]
[1009, 1009, 1009, 1009, 1009, 446]
[0.0070169165748942, 0.0301219315923941, 0.0207814210747098, 0.0606097220383381, 0.0452247971708137, 0.3870784247471192]
[1314, 1136, 130, 832, 417, 966]

In [100]:
error = {
    "model_name" : model_name,
    "mean" : mean,
    "max_value" : max_value,
    "max_number" : max_number,
    "min_value" : min_value,
    "min_number" : min_number
}

In [103]:
dfw = pd.DataFrame(error)
dfw

,model_name,mean,max_value,max_number,min_value,min_number
0,VGG16+Dropout,1.222672,18.078464,1009,0.007017,1314
1,VGG16,1.667632,20.432309,1009,0.030122,1136
2,VGG16+Batch Normalization,1.557936,33.133334,1009,0.020781,130
3,Xception+Dropout,1.275354,20.379881,1009,0.060610,832
4,Xception,2.498484,21.211159,1009,0.045225,417
5,AlexNet,3.443928,30.886000,446,0.387078,966